<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--SICOOB-->
		<add name="IntegradorConnection" connectionString="Data Source=SICBD02.sicoob.seguradora,1434\REPLICATED;Database=Integrador;User Id=usrQlikView; Password=YJQUhp24s1cp;" />
		<add name="PremioConnection" connectionString="Data Source=SICBD02.sicoob.seguradora,1434\REPLICATED;Database=GestaoPremio;User Id=usrQlikView; Password=YJQUhp24s1cp;" />
	</connectionStrings>
</configuration>